


*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Fira Sans', Helvetica, sans-serif;
	color: #162c38;
	background-image: url(../img/weather.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
input {
	background-color: transparent;
	border: none;
	padding: 5px;	
}
h1 {
	font-size: 34px;
}
hr {
	margin: 0px;
	height: 2px;
	background-color: rgb(99, 106, 121);
	border: none;
}
a {
	text-decoration: none;
	color: #162c38;
	font-size: 13px;
	line-height: 16px;
	padding: 10px;
}
a:hover {
	color: #b82d6e;
	text-decoration: none;
	background-color: #dee6e9;
}

.container {
	max-width: 700px;
	margin: 0 auto;

}
.wraper {
	background: rgba(252, 252, 252, 0.8);
	background-repeat: no-repeat;
	max-width: 600px;
	padding-bottom: 20px;
	margin: 0 auto;
	box-shadow: rgba(224, 241, 244, 0.35) 0px 10px 15px
}
.container-accordeon {
	background-color: transparent;
	border: 1px solid #b1a585;
	background-repeat: no-repeat;
	
}
.form-inner{
	display: flex;
	padding: 20px 0;
}
.form-item {
	margin-left: 20px;
	width: 60%;	
	background-color: #d2eaf5;
	border: 2px solid #4e95b8;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(119, 168, 182, 0.55);
}

.day-name {
	margin-top: 5px;
	font-size: 34px;
}
.times {
	font-size: 34PX;
}
.form-btn {
	width: 30%;
	background-color: #d2eaf5;
	border: 2px solid #4e95b8;
	border-radius: 5px;
	padding: 5px 10px;
	margin-left: 20px;
	color: grey;
	box-shadow: 0 0 10px rgba(119, 168, 182, 0.55);
	transition: all 200ms ease-in-out;
}
.form-btn:hover {
	background-color: #b9dcee;
}
.form-position:hover {
	background-color: #b9dcee;
}
.search-img {
	width: 25px;
	display: none;
}
.form-position {
	display: none;
}
.city-img {
	padding-top: 10px;
	width: 60%;
}
.humidity,
.wind {
	font-weight: 500;
	color: #162c38;
}
.block-temperatur {
	margin-left: -14px;
}
.temperatur {
    display: flex;
	justify-content: center;	
}
.temperatur-item1 {
	padding: 0;
	font-size: 34px;
	font-weight: 400;
	letter-spacing: 2px;

}
.temperatur-item2 {
	padding: 0;
	font-size: 34px;
	
}
.temperature-link-c {
	padding: 10px 0;
	cursor: pointer;
	font-weight: 500;
	font-size: 34px;
	color: #6f1010;
	
}
.temperature-link-c:hover,
.temperature-link-f:hover {
	background-color: transparent;
	color: #6f1010;
	
}
.temperature-link-f {
	padding: 10px 0 20px;
	font-weight: 500;
	cursor: pointer;
	font-size: 34px;
	color: #6f1010;
}
.temperature-link {
	margin-top: -5px;
	font-weight: 500;
	font-size: 34px;
}

.active {
	color: #162c38;
	cursor: default;
}
.active:hover {
	text-decoration: underline;
}
.weather {
	font-size: 16px;
	font-weight: 500;
	text-align: center;
}
.meaning {
	display: flex;
	justify-content: center;
}
.accordion-item {
	background-color: transparent;
	
}
.accordion-inner1 {
	background-color: transparent;
	
	border: none;
	
}
.accordion-month1 {
	color: #162c38;
	font-size: 20px;
}
.accordion-day1 {
	color: #162c38;
	font-size: 20px;
}
.accordion-img {
	display: block;
	width: 25px;
	margin: 0 auto;
}
.accordion {
	color: #265976;
	--bs-accordion-bg: transparent;
	--bs-accordion-active-bg: transparent;
	--bs-accordion-btn-focus-border-color: transparent;
}
.accordion-body {
	padding: 5px;
	height: 80px;
	background: #d8e9f2;
	border: 1px solid #4e95b8;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(112, 108, 108, 0.5);
	text-align: center;
}

button.accordion-button {
	padding: 3px;
	border: none; 
}
button.accordion-button:focus {
	border: none;
}
.accordion-content {
	margin-top: 8px;
	color: #162c38;
	text-align: center;
}
.source-code__link {
	color: #326079;
	font-size: 16px;
	padding: 0;
}
.source-code__creator {
	padding: 0;
	font-size: 16px;
}
.source-code__link:hover {
	background-color: transparent;
	color: #5098bb;
}
.source-code__creator:hover {
	background-color: transparent;
	color: #161f24;
}
.my-name {
	font-size: 16px;
	text-decoration: underline;
}
@media (max-width: 630px) {
	.city-name, .day-name, .times {
		font-size: 28px;
	}
	.accordion-month1,
	.accordion-day1 {
		font-size: 18px;
	}
	.temperatur-item1,
	.temperatur-item2{
		font-size: 28px;
	}
	.temperature-link-c,
	.temperature-link-f {
		font-size: 28px;
	}
	.humidity,
	.wind {
		font-size: 14px;
	}
}
@media (max-width: 450px) {
	.span-search {
		display: none;
	}
	.search-img {
		display: block;
	}
	.city-name,
	.day-name,
	.times {
		font-size: 20px;
	}
	.accordion-month1,
	.accordion-day1 {
		font-size: 14px;
	}
	.accordion-img {
		width: 20px;
	}
	.accordion-content {
		font-size: 12px;
	}
	.temperatur-item1,
	.temperatur-item2 {
		font-size: 20px;
	}
	.temperature-link-c,
	.temperature-link-f {
		font-size: 20px;
	}
	.humidity,
	.wind {
		font-size: 12px;
	}
}